.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 130px;
}

body {
  background: hsl(0, 0%, 97%);
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.card {
  background: white;
  border-radius: 3px;
  padding: 15px;
  margin-bottom: 15px;
}

h2 {
  margin: 0;
}

.dropdown-content {
  background: #edf1f5;
  color: #11253e;
  font-weight: 600;
  margin: 0;
  padding: 15px;
  box-shadow: 0px 8px 23px 4px rgba(0, 0, 0, 0.15);
}

.dropdown-container {
  display: flex;
}

.button-toggle {
  background: #6175de;
  border: 0;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  padding: 5px;
}

.code {
  background: hsl(0, 0%, 97%);
  color: #b71f1f;
  display: inline-block;
  padding: 5px;
  font-family: monospace;
}

.code-wrapper {
  margin: 12px 0;
}

.code-big-wrapper {
  margin: 12px 0 0 0;
}

.code-button-wrapper {
  margin-top: 24px;
}

.code-line {
  margin: 0;
  line-height: 1.5;
  white-space: pre;
}

.code-toggle-button {
  padding: 0;
  background: white;
  border: 0;
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 5px;
  display: flex;
  border-color: #6175de;
}
